/* GLOBAL STYLES + MOBILE STYLES */

body {
  font-family: "Public Sans", "DM Serif Display";
  /* background-color: hsl(207, 16%, 50%); */
  /* background-color: rgb(108, 130, 148); */
  background-color: #EDF3F8;
  margin: 0;
  /* background-color: #36536B; */
  /* background-color: #6c8294; */
}

/* below: color of semi circle... */
/* background-color: hsl(0%, 0%, 92%); */

header nav {
  display: flex;
  justify-content: space-between;
  margin: 2.5em 1.5em;
}

header nav ul {
  display: none;
}

#menuToggler {
  /* font-size: 500%; */
  /* font-stretch: expanded; */
}

section {
  display: flex;
  flex-direction: column;
}

section img {
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

section label {
  background-color: #BA4270;
}

h2 {
  font-size: 1.7em;
  color: #36536b;
  text-align: center;
}

section {
  margin: 2em;
}

/* TABLET STYLES */

@media screen and (min-width: 376px) {

  body {
    background-color: lightblue;
  }

}

/* DESKTOP STYLES */

@media screen and (min-width: 769px) {
  body {
    background-color: yellow;
  }
}
